* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Evitar zoom en algunos dispositivos móviles */
  body {
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  /* Estilo base para el contenido */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Estilos específicos para componentes */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0 10px; /* Ajustar el padding según tu diseño */
  }